<% content_for :meta_title, "#{@activity.title} - #{DEFAULT_META["meta_name"]}" %>
<% content_for :meta_description, @activity.description %>
<% content_for :meta_image, cl_image_path(@activity.picture.key) if @activity.picture.present? %>
<div class="container">
  <%= render "activities/show", activity: @activity %>
  <%= render "activities/participants", activity: @activity %>
  <div class="row mt-5">
    <%= link_to "Messagerie", activity_private_message_path(@activity, @private_message), class: "btn gradient-btn g-btn-lg" %>
  </div>
  </div>
