<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %> : </strong>
    <i><%= local_time(message.created_at, '%e %b à %H:%M') %></i>
  </small>
  <p><%= message.content %></p>
</div>
