// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Dancing+Script&family=Sriracha&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$c1: 'Charmonman', cursive;
$c2: 'Dancing Script', cursive;
$c3: 'Pacifico', cursive;
$c4: 'Style Script', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
