<div id="badge-assignation">
<<<<<<< last-seed-2
<h2>Assigne des badges</h2>
=======
<% if @activity.end_date < Date.today %>
  <h2>Assignes des badges</h2>
>>>>>>> master
  <% @activity.users.excluding(current_user).each do |user| %>
    <div class="row flex-nowrap overflow-auto" data-controller="add-badge">
      <div class="col">
        <% if user.avatar.attached? %>
          <%= cl_image_tag(user.avatar.key, class: "avatar-large", crop: :fill) %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "avatar-large", alt: "" %>
        <% end %>
      </div>
      <div class="col text-center">
        <%= simple_form_for [@activity, user, UserBadge.new], html:{id:"new-user-badge#{user.id}", data: {controller:"add-badge"}}, namespace: "user_#{user.id}" do |f| %>
          <%= f.input :badge,
            collection: @activity.badges.map {  |badge|   [raw("<div>#{badge.name}</div>#{image_tag badge.icon, class: 'badge-large'}"), badge.id]},
            as: :radio_buttons,
            legend_tag: false,
            required: false,
            item_label_class: "inactive-badge",
            input_html: {data: {action: "change->add-badge#add", add_badge_target: "badge"}, class: "sr-only"}%>
          <%#= f.submit "coucou" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
