<div id="badge-assignation">
  <% @activity.users.excluding(current_user).each do |user| %>
    <ul class="row list-group-item" data-controller="add-badge">
    <li class="row align-items-center">
        <div class= "col-2">
          <% if user.avatar.attached? %>
            <%= cl_image_tag(user.avatar.key, class: "avatar-large", crop: :fill) %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "avatar-large", alt: "" %>
          <% end %>
        </div>
        <div class = "row col-8 d-flex">
          <%= simple_form_for [@activity, user, UserBadge.new], html:{id:"new-user-badge#{user.id}", data: {controller:"add-badge"}}, namespace: "user_#{user.id}" do |f| %>
            <%= f.input :badge,
              collection: @activity.badges.map {  |badge|   [raw("<div>#{badge.name}</div>#{image_tag badge.icon, class: 'badge-large'}"), badge.id]},
              as: :radio_buttons,
              label:" ",
              required: false,

              input_html: {data: {action: "change->add-badge#add", add_badge_target: "badge"}, class: "sr-only"}%>
            <%#= f.submit "coucou" %>
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
</div>
