<div class="container">
  <h1 class="text-center">Chatrooms</h1>
  <div class="container">
    <div class="row mb-3">
      <div class="border border-dark col-8 p-3 bg-light"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
      <div class="col-4"></div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="border border-dark col-8 p-3 bg-light"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
    </div>
    <div class="row mb-3">
      <div class="border border-dark col-8 p-3 bg-light"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
      <div class="col-4"></div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="border border-dark col-8 p-3 bg-light"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
    </div>
  </div>
</div>
