<div class="container fixed-bottom">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="text-center">
        <a class="navbar-brand" href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>
      <div class="text-center">
        <a class="navbar-brand" href="#">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
      <div class="text-center">
        <a class="navbar-brand" href="#">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
    </div>
  </nav>
</div>
