<div class="navbar navbar-expand-sm navbar-light navbar2 fixed-top" >
  <div class="container-fluid navbar-collapse">
    <%= link_to "Revenir", root_path, class:"navbar-links text-decoration-none"%>
  </div>
</div>
