  <div class="small-card-activity d-inline-block mx-1">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="small-card-activity-infos">
      <div>
        <h2>Title here</h2>
        <p>Start_date <br> End_date</p>
        <h3 class="small-card-activity-pricing">£99.99</h3>
      </div>
    </div>
  </div>
