.badge-large {
  width: 56px;
  border-radius: 50%;
  margin-top: 24px;
  opacity: 0.9;
}


#badge-assignation {

  fieldset.user_badge_badge {

    display: flex;
    justify-content: space-between;

  }

  .disable {
    pointer-events: none;
  }

  input.active + label {
    opacity: 1;
    }

  input.grayed-out + label {
    filter: grayscale(0.8);
    opacity: 0.5;
  }

}
