.badge-large {
  width: 56px;
  border-radius: 50%;
  opacity: 0.9;
}


#badge-assignation {

  fieldset.user_badge_badge {

    display: flex;
    justify-content: space-between;

  }

  .disable {
    pointer-events: none;
  }

  .inactive-badge {
    filter: grayscale(0.8);
    opacity: 0.6;
  }

  input.active + label {
    filter: grayscale(0);
    opacity: 1;
    }

  input.not-selected + label {
    opacity: 0.5;
  }


}
