.banner {
  background-size: cover;
  padding: 75px 0;
  background-image: $linear-g1;
}

.banner h1 {
  font-size: 38px;
  margin: 0;
  margin-bottom: 100px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 100px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.title-profil {
  margin-top: 100px;
  text-align: center;

  h3 {
    font-size: 18px;
    margin-top: 8px;
  }
}
