.small-card-activity {
  height: 100%;

}

.small-card-activity > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.small-card-activity h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.small-card-activity h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
}

.small-card-activity p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.small-card-activity .small-card-activity-infos {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

/*----------LARGE CARD-----------*/
.large-card-product {
  overflow: hidden;
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.large-card-product img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 5px;
}

.large-card-product h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  width: 60%;
}

.large-card-product h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
}

.large-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.header p {
  width: 40%;
  text-align: right;
}

.large-card-product .large-card-product-infos {
  padding-left: 5px;
  width: 100%;
}

.large-card-product .large-card-product-infos .header{
  display: flex;
  justify-content: space-between;
}

.header > p {
  margin-top: 10px
}
