.navbar2 {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-links  {
  color : grey;
}

a {
  color: grey;
  text-decoration: none;
}
