 /* Middle */
 .content {
  display: flex;
  margin: auto;
  text-align: center;
  width: 70%;
  transform: translateY(5%);
}

label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1.8rem 0 4rem 0;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  width: 100%;
  // margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  user-select: none;
}
.dark {
  opacity: .5;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}

/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
}
[type="checkbox"]:checked + .app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
}
