<div class="small-card-activity">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="small-card-activity-infos">
    <div>
      <h2><%= activity.title.truncate(15) %></h2>
      <p>Start_date <br> End_date</p>
    </div>
      <h3 class="small-card-activity-pricing">
        <% if activity.price > 0 %>
          <%= activity.price %>€
        <% else %>
          Gratuit
        <% end %>
      </h3>
  </div>
</div>
