<% unless @activity.users.empty? %>
<h2 class="mt-5">Participants</h2>
<div class = "d-flex align-items-center flex-nowrap overflow-auto mt-3">
    <%  @activity.users.excluding(@activity.user).each do |user| %>
      <div class="col m-0">
        <%=  link_to user_path(user) do %>
          <% if user.avatar.attached? %>
            <%= cl_image_tag(user.avatar.key, class: "avatar-large", crop: :fill) %>
          <% else %>
            <%= image_tag 'default_avatar.png', class: "avatar-large", crop: :fill %>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>
<% end %>
