<div class="row flex-nowrap overflow-auto mt-5">
  <% @activities.each do |activity| %>
    <div class="col">
      <%= render "activities/activity_card_lg", activity: activity %>
    </div>
    <% end %>
    <% @activities.each do |activity| %>
    <div class="col">
      <%= render "activities/activity_card_lg", activity: activity %>
    </div>
    <% end %>
</div>
