<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="card text-center rounded-5 mt-5">
  <div class="card-body">
    <h5 class="card-title">Oups!</h5>
    <p class="card-text">Tu as besoin de points de confiance pour créer une activité.</p>
    <a href="/" class="btn gradient-btn">Page d'accueil</a>
  </div>
</div>
</div>
